*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
}

.main-container > .select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 1%;
}

.main-container > .select-container > h1{
    font-size: 16px;
    margin-right: 1%;
}

.main-container > .input-container{
    margin: auto;
    padding-top: 2.5%;
}

.displayInfo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
}

.displayInfo-container > p {
    font-size: 15px;
    font-family: system-ui;
    font-weight: 500;
}

.main-container > .dataTable{
    width: auto;
    background-color: #fcfcfc;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
    margin: 2% auto auto auto;
}

table.dataTable td, table.dataTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    text-align: center;
}

table.dataTable thead {
    background-color: rgb(194, 226, 254);
}

tr:nth-child(even){
    background-color: aliceblue;
}

.countryImage{
    width: 200px;
    height: 200px;
}

table.dataTable td{
    height: 300px;
    width: 16%;
    font-size: 23px;
    font-family: system-ui;
    font-weight: 500;
}

table.dataTable th{
    height: 119px;
    font-size: 25px;
    font-family: system-ui;
    font-size: 25px;
    font-weight: bolder
}


